<div class="container">
  <div class="row">
    <div class="mx-auto col-md-10 top-text">
      <div class="image-top">
        <div class="image-top-mask">
          <p class="text-center text-light py-5 px-5">
            ようこそ、カスタムの沼へ
          </p>
        </div>
      </div>
    </div>