<% if goods.present? %>
  <% goods.first(10).each do |good| %>
    <div class="list">
    <% if good["smallImageUrls"][0].present? %>
      <%= link_to (image_tag(good["smallImageUrls"][0], style: "width: 70px;height: 100px;display: inline-block;")), good.url %>
      <%end%>

      <%= good.name %>
    </div>
  <% end %>
<% end %>