// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-about {
  font-size: 20px;
  background-image: image-url('tools-1845426_1920');
  widht: aouto;
  height: 700px

}

h1 {
  text-align: center;
}

.text-about p {
  text-align: center;
  color: cyan;
}